body{
	margin: 0px;
	padding: 0px;
}
.header{

	padding-top: 20px;
}

.logo{
	width: 20%;
	float: left;
}
.logo img {
    padding: 10px 0px;
}
img{
	max-width: 100%;
}
.manu{
	width: 80%;
	float: left;
}
.manu ul{
	margin: opx;
	padding: 0px;
	text-align: right;
}
.manu ul li{
	list-style: none;
	display: inline-block;
}
.manu ul li a{
	text-decoration: none;
	font-size: 18px;
	padding: 10px 20px;
	display: block;
	text-transform: uppercase;
}
.manu ul li a:hover{
	color: green;
}


.hero-area{
	text-align: center;
	padding: 50px 0px;
}
.hero-area h1 {
    font-size: 50px;
    margin: 0px;
    color: #3b506c;
    width: 599px;
    display: block;
    margin: auto;
}
.hero-area h1 span{
	color: blue;
	text-transform: capitalize;
}
.hero-area p{
	font-size: 18px;
	margin: 0px;
	color: green;
}


.img-section {}
.img-section img{
	max-width: 500px;
	display: block;
	margin: auto;
}
img{
	max-width: 100%;
}


.contanet-section{
	padding: 100px 0px;
}
.contant{
	padding: 20px;
}
.contant h2 {
    font-size: 40px;
}
.contant h2 span{
	color: red;
}
.contant p{
	font-size: 18px;
	margin: 0px;
	color: green
}
.text-right{
	text-align: right;
}






.about-section {
    padding: 100px 0px;
}
.about{

	padding:10px;
	box-shadow: 0px 5px 20px #2d2d2d1c;
}
.about img{
	width: 300px;
	height: 300px;
}
img{
	max-width: 100%;
}
.about h1 {
    font-size: 35px;
    margin: 0px;
    margin-bottom: 5px 0px;
}
.about p{
	font-size: 18px;
    margin: 0px;
}
.red {
    background: #FEECEC;
}
.green {
    background: #EAF9F4;
}
.yellow {
    background: #FFF8E8;
}